<nav class="p-2 bg-dark">
    <ul class="nav justify-content-center">
        <li class="nav-item mx-2">
            <a class="nav-link active text-white" aria-current="page" (click)="getNews('all')">Home</a>
        </li>

        <li class="nav-item mx-2">
            <a class="nav-link text-white" (click)="getNews('cricket')">Cricket</a>
        </li>

        <li class="nav-item mx-2">
            <a class="nav-link text-white" (click)="getNews('entertainment')">Entertainment</a>
        </li>

        <li class="nav-item mx-2">
            <a class="nav-link text-white" (click)="getNews('science')">Science</a>
        </li>


        <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Others
            </a>
            <ul class="dropdown-menu dropBg">
                <li><a class="dropdown-item text-white" (click)="getNews('hollywood')">Hollywood</a></li>
                <li><a class="dropdown-item text-white" (click)="getNews('bollywood')">Bollywood</a></li>
                <li><a class="dropdown-item text-white" (click)="getNews('sport ')">Sport </a></li>
                <li><a class="dropdown-item text-white" (click)="getNews('health  ')">Health </a></li>
            </ul>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link text-white" routerLink="about">About Us</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link text-white" routerLink="contact">Contact Us</a>
        </li>
    </ul>
</nav>
